.glide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .glide__slide {
    text-align: center;
    height: 150px;
    line-height: 150px;
    color: #fff;
    background: rgb(136, 133, 133);
    font-size: 1em;
    font-weight: 900;
  }
  
  .glide__slide[class*="active"] {
    background: linear-gradient(-45deg, #ed145b, #7b31f4);
  }

  

@tailwind base;
@tailwind components;
@tailwind utilities;


.logo-image {
    padding-top: 0.5em; /* Adjust the value as needed */
}
.pm-5 {
    padding-left: 1.3rem; /* Adjust the value as needed */
}