<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>AccessCS UBC</title>
    <meta name="description" content="AccessCS is a community dedicated to creating a welcoming space in UBC's Computer Science department for everyone.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>


<body class="bg-gray-800 text-gray-800">
    <nav class="bg-gray-900">
        <ul class="flex justify-between items-center px-6 py-4">
            <li><a href="#" class="text-white">Home</a></li>
            <li><a href="#" class="text-white">About</a></li>
            <li><a href="#" class="text-white">Services</a></li>
            <li><a href="#" class="text-white">Contact</a></li>
        </ul>
    </nav>
    <div class="container mx-auto py-12">
        <h1 class="text-red-600 text-4xl font-bold text-center mb-4">
            We want to hear your voice
        </h1>
        <p class="text-blue-500 text-lg text-center">
            Help us making the UBC Computer Science Department more accessible, and join our community in the process!
        </p>
    </div>
</body>

</html>
