<!DOCTYPE html>
<html lang="en-US">
<head>
    {% block head %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>UBC AccessCS</title>
    <meta name="description" content="AccessCS is a community dedicated to creating a welcoming space in UBC's Computer Science department for everyone.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <link rel="stylesheet" href="{{ siteUrl }}/css/output.css">
    <link rel="icon" href="{{ siteUrl }}/images/static/icon.png">
    {% endblock %}
</head>

<body class="bg-dark-blue">
    {% block body %}
    <nav class="bg-navbar-blue text-[20px]">

        <div class="max-w-[48em] px-5 py-4.5">
            <ul class="flex justify-between items-center">
                <img src="{{ siteUrl }}/images/static/logo.png" class="w-[129px]" alt="AccessCS Logo">
                <li><a href="#" class="text-white">Home</a></li>
                <li><a href="#" class="text-white">About</a></li>
                <li><a href="#" class="text-white">Services</a></li>
                <li><a href="#" class="text-white">Contact us</a></li>
            </ul>
        </div>

    </nav>

    <div class="container mx-auto py-12">
        <h1 class="text-off-white text-[65px] font-bold text-center mb-4 font-headerFont">
            We want to hear your voice
        </h1>
        <p class="text-off-white text-[20px] text-center font-mainFont">
            Help us making the UBC Computer Science Department more accessible, and join our community in the process!
        </p>
    {% endblock %}
</body>
</html>